.width-100 {
    width: 100px;
}



.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
    .link-item {
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
  
      .btn {
        text-align: center;
        width: 100%; // making all buttons the same width
  
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
}