.width-100 {
    width: 100px;
}



.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
    .link-item {
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
  
      .btn {
        background-color: #f8f9fa; // light grey background color
        color: #212529; // darker text color
        border: 1px solid #ced4da; // border color
        text-align: center;
        width: 100%; // making all buttons the same width
  
        &:hover,
        &:focus {
          background-color: #e9ecef; // slightly darker grey on hover and focus
          color: #212529;
          text-decoration: none;
        }
      }
    }
}