extends layout

block content

  .container
    .d-flex
      .cv_titre
        h1 Elisa Renault
        h2 Fonction
        h2 Disponiblité
      .cv_pic
        img(src="/images/cvpic.jpg" width="150px")
    p Fraîchement diplômée du Bachelor in Business Administration de l'ESSEC, je vous propose de rejoindre Dr. Pierre Ricaud en tant que Cheffe de Projet Digital en stage à partir de janvier. Je suis une travailleuse créative à la fois autonome et coopérative, passionnée de digital.
    address
      a tel
      a email
      a site
    .d-flex
      .column-s
        h3 Formation
        h4 ESSEC Business School, Cergy et Singapour
        h5 Global Bachelor in Business Administration | 2018 - 2022
        p Moyenne de 15,5/20. Mémoire : "L'Esport comme canal de promotion marketing".
        h4 Lycée Henri-IV, Paris
        h5 Classe Préparatoire aux Grandes Écoles B/L | 2017 - 2018
        h3 Expériences professionnelles et associatives
        h4 Stagiaire Cheffe de Projet digital
        h5 Dr Pierre Ricaud | Issy-les-Moulineaux | 2023 (6 mois)
        p Marque de cosmétique iconique du Groupe Rocher, spécialisée dans les cosmétiques alliant science et nature pour une efficacité cliniquement prouvée.
        h4 Apprentie Responsable marketing
        h5 Aliant SARL | Cagnes-sur-mer | 2020 - 2022 (24 mois)
        p Société de conseil et d'ingénierie informatique spécialisée en radiologie médicale.
        ul
          li Audit Marketing initial, veille concurrentielle, benchmarks. Conception de stratégie.
          li Création de contenus rédigés et graphiques, emailing, refonte du site web.
          li Responsable de la refonte du site web du cahier des charges à la livraison.
          li Développement de partenariats marketing et démarchage de prospects.
        h4 Stagiaire marketing
        h5 Billy.bike | Bruxelles, Belgique | 2019 (3 mois)
        p Société de vélos électriques partagés en libre service. Campagnes marketing B2C.
        h4 Secrétaire Générale
        h5 Bureau Des Jeux ESSEC | 2019 - 2020 (12 mois)
        h4 Responsable Communication
        h5 NOISE ESSEC | 2019 - 2020 (12 mois)
      .colum-e
        h3 Langues
        ul
          li Français : langue natale
          li Anglais : bilingue, IELTS 7,5/9 en 2020
          li Espagnol : professionnel
          li Chinois : débutant
        h3 Compétences
        ul
          li Marketing & Management : études de marché, conception et gestion de projets, de stratégies, de campagnes et d'opérations, prospection, mesure des KPI, reporting.
          li Suites Office & Google & Adobe : dont Excel, PowerPoint, Photoshop, Premiere Pro.
          li Télétravail : Zoom, G Meet, Teams, Discord, TeamViewer, AnyDesk. 
          li Outils CRM & ERP : Slack, Notion, Jira, ZenDesk, Mailchimp, StreamElements.
          li Réseaux soiaux : maîtrise de Twitch (+OBS), YouTube, Twitter, LinkedIn, Instagram, etc.
          li Technologies informatiques : développement web full-stack Node.js (+ HTML et CSS), connaissance du matériel, administration de serveurs, cybersécurité.
          li Savoir-être : autonomie, adaptation, bon relationnel, générosité, dynamisme, créativité, innovation et initiative.
    h3 Intérêts et Activités
    ul
      li Nouvelles technologies : attrait pour la data, le machine learning, l'IA, les nouveaux matériels informatiques, un héritage de famille.
      li Pop culture: musique Pop/Rock/House/RnB/Rap, séries et films Sci-fi & Fantasy, animes, mangas et manhwas.
      li Jeux vidéo : joueuse et créatrice de contenus, fan esport, TFT, LoL, WoW, The Elder Scrolls, Terraria, Stardew Valley, No Man's Sky...
      li Écologie, Société et Bienveillance : je suis engagée dans des projets visant à préserver le vivant, je fais des efforts personnels continus.
      li Bien-être et Fitness : un esprit sain dans un corps sain, je fais de l'exercice, je suis attentive à mon alimentation et mes cosmétiques.
  

