doctype

html(lang="fr", data-theme=preferredTheme)

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  title Elisa Renault
  meta(name="description" content="Diplômée de l'ESSEC, Chef de projet digital chez Dr Pierre Ricaud. Passionnée de tech, jeux vidéo, esport, bien-être et marketing.")

  link(rel='icon' type="image/x-icon" href='/images/favicon.svg')
  link(rel='shortcut icon' href='#')
  link(rel='stylesheet' href='/stylesheets/style.css')

  // Google tag (gtag.js)
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-GH0HWTX71P')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GH0HWTX71P');

body.adapt
    
  nav.navbar.navbar-expand
    .container.justify-content-between
        a.navbar-brand(href='/') Elisa Renault
        .theme-switch
          input#theme-switch(type='checkbox', autocomplete='off')
          label(for='theme-switch')

  main
    block content

  hr
  footer
    .container
      p.text-center © 2023 Elisa Renault. Tous droits réservés.

  script(src='/javascripts/theme.js')