doctype

html(lang="fr", data-theme=preferredTheme)

  head
    include head.pug

  body.adapt
    
    
    nav.navbar.navbar-expand
      div.container-fluid.p-3
        a.navbar-brand.position-absolute.top-50.start-50.translate-middle(href='/') Elisa Renault
        .theme-switch.d-flex.justify-content-end.pe-3.position-absolute.top-50.end-0.translate-middle-y
          input#theme-switch(type='checkbox', autocomplete='off')
          label(for='theme-switch')
          i.ms-1.bi.bi-moon-fill

    main
      block content

    hr
    footer
      .container
        p.text-center © 2023 Elisa Renault. Tous droits réservés.

    script(src='/javascripts/theme.js')