doctype

html(lang="fr")

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  title Elisa Renault
  meta(name="description" content="Diplômée de l'ESSEC, Chef de projet digital chez Dr Pierre Ricaud. Passionnée de tech, jeux vidéo, esport, bien-être et marketing.")

  link(rel='icon' type="image/x-icon" href='/images/favicon.svg')
  link(rel='shortcut icon' href='#')
  link(rel='stylesheet' href='/stylesheets/style.css')

body.adapt
    
  nav.navbar.navbar-expand
    .container.justify-content-center
      a.navbar-brand(href='/') Elisa Renault


  main
    block content

  hr
  footer
    .container
      p.text-center © 2023 Elisa Renault. Tous droits réservés.