doctype

html(lang="fr", data-theme=preferredTheme)

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  title Elisa Renault
  meta(name="description" content="Diplômée de l'ESSEC, Chef de projet digital chez Dr Pierre Ricaud. Passionnée de tech, jeux vidéo, esport, bien-être et marketing.")

  link(rel='icon' type="image/x-icon" href='/images/favicon.svg')
  link(rel='shortcut icon' href='#')
  link(rel='stylesheet' href='/stylesheets/style.css')

  // Google tag (gtag.js)
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-GH0HWTX71P')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GH0HWTX71P');

  // Bootstrap icons
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css')


body.adapt
  
  
  nav.navbar.navbar-expand
    div.container-fluid.p-3
      a.navbar-brand.position-absolute.top-50.start-50.translate-middle(href='/') Elisa Renault
      .theme-switch.d-flex.justify-content-end.pe-3.position-absolute.top-50.end-0.translate-middle-y
        input#theme-switch(type='checkbox', autocomplete='off')
        label(for='theme-switch')
        i.ms-1.bi.bi-moon-fill

  main
    block content

  footer
    .container
      p.text-center © 2023 Elisa Renault. Tous droits réservés.

  script(src='/javascripts/theme.js')